.ng-cloak {
    display: none;
}

body {
    background-color: #2F2F2F;
}

.container {
    background-color: 2F2F2F;
}

.card {
    padding-top: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 10px;
}

.card-image {
    width: 90%;
}

.card-info {
    text-align:center;
    width: 100%;
    opacity: 1;
    font-weight: bold;
    color: #2F2F2F;
}

.card-price {
    font-size: 3em;
}

.card-qty {
    font-size: 2em;
}
